In [1]:
#import relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix, plot_confusion_matrix

from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier

In [5]:
df = pd.read_csv('data/cleaned_data.csv')

In [6]:
df.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,...,total_calls_dom,total_charge_dom,total_minutes,total_calls,total_charge,charge_per_min_dom,charge_per_min_int,%_int_min,call_satisfaction,region
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,...,300,137.79,717.2,303,140.49,0.459300,0.900000,0.013943,0.003300,Midwest
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,...,329,151.07,625.2,332,154.77,0.459179,1.233333,0.021913,0.003012,Midwest
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,...,328,131.62,539.4,333,134.91,0.401280,0.658000,0.022618,0.000000,Northeast
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,...,248,85.12,564.8,255,86.90,0.343226,0.254286,0.011686,0.007843,Midwest
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,...,356,134.02,512.0,359,136.75,0.376461,0.910000,0.019727,0.008357,South

The data is split to a train and test data

In [7]:
X = df.drop('churn', axis=1)
y = df['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Model 1: Baseline Log Regression